<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
    <!-- 配置safair浏览器顶部显示主题色 -->
    <!-- <meta name="theme-color" content="#c3cd8a" /> -->

    <title>Vite + Vue + TS</title>
    <script src="/fingerprint2.min.1.5.1.js" async></script>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <script type="module" src="/src/utils/fblogin.js"></script>

    <% if (ENABLE_ERUDA) { %>
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>
      eruda.init()
    </script>
    <% } %>
  </body>

  <script>
    setTimeout(() => {
      var fp = new Fingerprint2()
      fp.get(function (result) {
        console.log(result)
      })
    }, 3000)
  </script>
</html>
