// https://www.tailwindcss.cn/docs/functions-and-directives#layer

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './mixins.scss';

* {
  user-select: none;
}

:root:root {
  // font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-size: 14px;
}

#app {
  max-width: 1280px;
}
