// https://www.tailwindcss.cn/docs/functions-and-directives#layer

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './mixins.scss';
@import './reset-vant.scss';
* {
  user-select: none;
}
html,
body {
  line-height: 1.3;
  font-size: 14px;
}
html {
  background-color: #eee;
}
body {
  background-color: #c3cd8a;
}

#app {
  // background-color: goldenrod;
}
#nprogress .bar {
  background: red;
}
[class^='page-'] {
  height: 100vh;
  height: var(--100vh);
  background-color: #fff;
}
@supports (height: 1dvh) {
  [class^='page-'] {
    height: 100dvh;
  }
}
