/** 文本溢出时显示省略号 */
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@layer components {
  .btn-primary12 {
    @extend .ellipsis;
    @apply rounded-full bg-violet-500 px-5 py-2 font-semibold text-white shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
    color: #abcdee;
  }
}

.bbb {
  @extend .ellipsis;
}
